.users-section-wrapper {
    padding: 0px 16px 0px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 140px;

    @media (--tablet) {
        padding: 0px 32px 0px;
    }

    @media (--laptop) {
        padding: 0px 60px 0px;
    }

    @media (--4k) {
        padding: 0px 0px 0px;
    }
}

.users-section-title {
    margin-bottom: 50px;
}
