@import './css-vars.css';
@import '../app.css';
@import './reset-default-styles.css';
@import '../components/Header/styles.css';
@import '../components/Button/styles.css';
@import '../components/Description/styles.css';
@import '../components/UsersSection/styles.css';
@import '../components/CardList/styles.css';
@import '../components/UserCard/styles.css';
@import '../components/SignUpSection/styles.css';
@import '../components/InputFieldText/styles.css';
@import '../components/SignUpForm/styles.css';
@import '../components/UploadField/styles.css';
@import '../components/RadioButtons/styles.css';
@import '../components/ModalWindow/styles.css';

@custom-selector :--heading h1, h2;
@custom-selector :--body-text p, a;

:--heading {
    font-size: 40px;
    line-height: 40px;
}

:--body-text {
    font-size: 16px;
    line-height: 26px;
}
