@import './css-vars.css';
@import '../app.scss';
@import './reset-default-styles.css';
@import '../components/Header/styles.scss';
@import '../components/Button/styles.scss';
@import '../components/Description/styles.scss';
@import '../components/UsersSection/styles.scss';
@import '../components/CardList/styles.scss';
@import '../components/UserCard/styles.scss';
@import '../components/SignUpSection/styles.scss';
@import '../components/InputFieldText/styles.scss';
@import '../components/SignUpForm/styles.scss';
@import '../components/UploadField/styles.scss';
@import '../components/RadioButtons/styles.scss';
@custom-selector :--heading h1, h2;
@custom-selector :--body-text p, a;

:--heading {
    font-size: 40px;
    line-height: 40px;
}

:--body-text {
    font-size: 16px;
    line-height: 26px;
}
